body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:416px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:597px;
}
#u582 {
  position:absolute;
  left:142px;
  top:133px;
  width:274px;
  height:597px;
}
#u583 {
  position:absolute;
  left:2px;
  top:290px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u584 {
  position:absolute;
  left:157px;
  top:220px;
  width:206px;
  height:28px;
}
#u585 {
  position:absolute;
  left:2px;
  top:6px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u586 {
  position:absolute;
  left:164px;
  top:227px;
  width:15px;
  height:15px;
}
#u587 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u588 {
  position:absolute;
  left:189px;
  top:227px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u589 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u590 {
  position:absolute;
  left:373px;
  top:227px;
  width:25px;
  height:15px;
}
#u591 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:170px;
}
#u592 {
  position:absolute;
  left:157px;
  top:487px;
  width:241px;
  height:170px;
}
#u593 {
  position:absolute;
  left:2px;
  top:77px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:62px;
  height:25px;
}
#u594 {
  position:absolute;
  left:107px;
  top:232px;
  width:50px;
  height:5px;
}
#u595 {
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u596 {
  position:absolute;
  left:93px;
  top:183px;
  width:49px;
  height:45px;
}
#u597 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
